//背景色
.bg {
    background: url('../images/bg.jpg') no-repeat top center;
    background-color: #101010;
    background-size: 100%;
}

//header
header .content {
    background: url('../images/headerTop.jpg') no-repeat top center;
    background-size: cover;
}
header .msg_ic {
    background: url('../images/icon/header_msgIC.png') no-repeat;
    background-size: contain;
}
header .back_arrow {
    background: url('../images/icon/arrow_b.png') no-repeat;
    background-size: 100%;
}
header .refresh_ic {
    background: url('../images/icon/svg/refresh.svg') no-repeat;
    background-size: contain;
}
header .edit_ic {
    background: url('../images/icon/svg/edit.svg') no-repeat;
    background-size: contain;
}

//marquee
.marqueeBox .marquee_ic {
    background: url('../images/icon/marqueeIC.png') no-repeat;
    background-size: contain;
}

//memberArea
.memberArea .operate_ic {
    background: url("../images/icon/memberArea_operateIC.png") no-repeat;
    background-size: 500%;
}

//homeCenter
.homeCenter .gameList_ic {
    background: url('../images/icon/homeCenter_gameListIC.png') no-repeat;
    background-size: 600%;
}

//footer
footer .list_ic {
    background: url('../images/icon/footer_ListIC.png') no-repeat;
    background-size: 500%;
}

//member
.memberWrap .bigList_ic {
    background: url('../images/icon/member_bigListIC.png') no-repeat;
    background-size: 200%;
}
.memberWrap .list_ic {
    background: url('../images/icon/member_listIC.png') no-repeat;
    background-size: 500%;
}
.memberWrap .option_ic {
    background: url("../images/icon/member_optionIC.png") no-repeat;
    background-size: 900%;
}
.memberWrap .arrow_ic {
    background: url('../images/icon/arrow_b.png') no-repeat;
    background-size: 100%;
}
.memberInfo .date_ic {
    background: url('../images/icon/date.png') no-repeat;
    background-size: contain;
}
.memberInfo .noCheck::before {
    background: url('../images/icon/svg/nocheck.svg') no-repeat;
    background-size: contain;
}
.memberInfo .check::before {
    background: url('../images/icon/svg/check.svg') no-repeat;
    background-size: contain;
}

//wallet
.walletWrap .list_ic {
    background: url('../images/icon/wallet_listIC.png') no-repeat;
    background-size: 300%;
}
.walletWrap .options_ic {
    background: url('../images/icon/wallet_optionsIC.png') no-repeat;
    background-size: 200%;
}
.walletWrap .arrow_ic {
    background: url('../images/icon/arrow_b.png') no-repeat;
    background-size: 100%;
}
.walletWrap .db_arrow {
    background: url('../images/icon/svg/unfold.svg') no-repeat;
    background-size: contain;
}

//各式紀錄
.bettingWrap .date_ic {
    background: url('../images/icon/date.png') no-repeat;
    background-size: contain;
}
.bettingWrap .db_arrow {
    background: url('../images/icon/svg/unfold.svg') no-repeat;
    background-size: contain;
}

//eventApply
.applyList .searchContent .date_ic {
    background: url('../images/icon/date.png') no-repeat;
    background-size: contain;
}

//deposit
.depositWrap .list_ic {
    background: url('../images/icon/deposit_listIC.png') no-repeat;
    background-size: 500%;
}
.depositWrap .listWrap li.active::after {
    background: url('../images/icon/check_w.png') no-repeat center;
    background-size: contain;
}

//transfer
.transWrap .openBtn .db_arrow {
    background: url('../images/icon/svg/unfold.svg') no-repeat;
    background-size: contain;
}
.transWrap .refresh_ic {
    background: url('../images/icon/svg/refresh.svg') no-repeat;
    background-size: 100%;
}

//withdrawal
.withWrap .withContent .remind_ic {
    background: url('../images/icon/svg/information.svg') no-repeat;
    background-size: contain;
}
.withWrap .refresh_ic {
    background: url('../images/icon/svg/refresh.svg') no-repeat;
    background-size: 100%;
}
.withWrap .openBtn .db_arrow {
    background: url('../images/icon/svg/unfold.svg') no-repeat;
    background-size: 100%;
}

//invite
.inviteWrap .img.qr {
    background: url('../images/qr.png') no-repeat;
    background-size: cover;
}
.inviteWrap .img.inviteImg {
    background: url('../images/inviteImg.png') no-repeat;
    background-size: cover;
}

//card
.cardList .cardBox li {
    background: url('../images/cardBG.png') no-repeat;
    background-size: cover;
}
.cardList .cardBox li.empty {
    background: url('../images/cardBG_empty.png') no-repeat;
    background-size: cover;
}

//event
.eventType .list_ic {
    background: url('../images/icon/event_listIC.png') no-repeat;
    background-size: 500%;
}

//slotPage
.slotWrap .list_ic {
    background: url('../images/icon/slotPage_listIC.png') no-repeat;
    background-size: 300%;
}
.slotWrap .search_ic {
    background: url('../images/icon/svg/search.svg') no-repeat;
    background-size: 100%;
}
.slotWrap .love_ic {
    background: url('../images/icon/slotPage_loveIC.png') no-repeat;
    background-size: 200%;
}

//jumpWindow
.jumpWindow.loginWindow .title .icon,
.jumpWindow.registerWindow .title .icon {
    background: url('../images/icon/jumpWindow_loginIC.png') no-repeat;
    background-size: contain;
}
.jumpWindow .title i {
    background: url('../images/icon/svg/close.svg') no-repeat;
    background-size: contain;
}
.jumpWindow .eye {
    background: url('../images/icon/svg/eye.svg') no-repeat;
    background-size: 100%;
}
.jumpWindow.loading .img {
    background: url('../images/icon/svg/loading_b.svg') no-repeat;
    background-size: 100%;
}








//helpWrap arrow_ic
.helpWrap .selectBox .arrow_ic,
.helpInner .title .arrow_ic {
    background: url('../images/icon/arrow_b.png') no-repeat;
    background-size: 100%;
}
//helpInner icon
.helpInner .title .about {
    background: url('../images/icon/svg/about.svg') no-repeat center;
    background-size: contain;
}
.helpInner .title .new {
    background: url('../images/icon/svg/lamp.svg') no-repeat center;
    background-size: contain;
}
.helpInner .title .often {
    background: url('../images/icon/svg/problem2.svg') no-repeat center;
    background-size: contain;
}
//helpInner .img
.helpInner .img.depositWay {
    background: url('../images/help/withdraw.png') no-repeat;
    background-size: 100%;
}
.helpInner .img.deposit_water {
    background: url('../images/help/online01.png') no-repeat;
    background-size: 100%;
}
.helpInner .img.withdrawalWay {
    background: url('../images/help/withdraw.png') no-repeat;
    background-size: 100%;
}
.helpInner .img.transferWay {
    background: url('../images/help/transfer.png') no-repeat;
    background-size: 100%;
}
.helpInner .img.tv {
    background: url('../images/help/tv.png') no-repeat;
    background-size: 100%;
}
.helpInner .img.remote {
    background: url('../images/help/remote.png') no-repeat;
    background-size: 100%;
}
.helpInner .img.license {
    background: url('../images/help/license.jpg') no-repeat;
    background-size: 100%;
}
//新增help客服頁ic
.helpInner .btnBox .online_ic {
    background: url('../images/icon/svg/service3.svg') no-repeat center;
    background-size: contain;
}
.helpInner .btnBox .line_ic {
    background: url('../images/icon/svg/line.svg') no-repeat center;
    background-size: contain;
}

//vip
.vipWrap .medal {
    background: url('../images/medal.png') no-repeat center;
    background-size: contain;
}
//vip cardBox arrow
.vipWrap .cardBox i,
.vipWrap .checkBtn .arrow_ic,
.vipDetail .list i::before {
    background: url('../images/icon/arrow_b.png') no-repeat;
    background-size: 100%;
}
//vip .card
.vipWrap .cardBox .card li.vip0 {
    background: url('../images/vip_card.png') no-repeat;
    background-size: 100%;
}
.vipWrap .cardBox .card li.vip1 {
    background: url('../images/vip_card_2.png') no-repeat;
    background-size: 100%;
}
.vipWrap .cardBox .card li.vip2 {
    background: url('../images/vip_card_3.png') no-repeat;
    background-size: 100%;
}









//finger
.vipDetail .finger {
    background: url('../images/icon/finger.png') no-repeat center;
    background-size: contain;
}


////////img↓


//header - logo
header .logo {
    width: 96px;
}

//ad - banner
.single-item {
    width: 100%;
    height: 45vw;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

//home - 遊戲圖
.homeCenter .gameBox img {
    width: 100%;
    object-fit: contain;
}

//slotPage - .gameBox img
.slotWrap .gameBox img {
    width: 100%;
    height: 106px;
    object-fit: cover;
}

//eventImg
.eventList img {
    width: 100%;
    object-fit: contain;
}
.eventDetail .eventImg img {
    width: 100%;
    object-fit: contain;
    border-radius: 5px;
}

//eventWindow img
.eventWindow img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

//app
.appWrap img {
    width: 100%;
    height: 96px;
    object-fit: cover;
}